/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "primary": #014542,
);
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";