.WelcomeScreen { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  background: linear-gradient(128.61deg, #011F13 -4.2%, #180226 69.64%, #25011B 100.05%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .logo {
    width: 150px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #014542;
  }
  } 
.google-btn {
  img {
    padding: .5rem;
  }
  button {
    border: none;
    border-radius: 10px;
    padding: 0 .5rem
  }
  margin: 1rem;
}

.welcome-container {
	background-color: #000c;
	width: 55%;
	padding: 1.5rem;
	border-radius: 15px;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
	min-width: 300px;
}

.welcome-text {
	padding-top: 2rem;
  h1 {
    font-family: 'Roboto Mono', monospace;
  }
}